.aboutsection{
    padding-top: 8rem;
}
.aboutsection-first-details h1{
text-align: center;
font-weight: 800;
margin-bottom: 1.5rem;
color: rgba(57, 57, 57, 0.872);
}
.aboutsection-first-details{
    padding: 0 11rem 8rem;
    text-align: center;
}

.aboutsection-first-details h2{
 font-size: 1.2em;
 line-height: 1.6rem;
 font-family: 'Signika', sans-serif;
 color: rgba(57, 57, 57, 0.872);
}
.aboutsection-first-details h2 strong{
     font-weight: 400;
     font-size: 25px;
      color:  #ed177e;
}
.aboutsection-second-details{
    text-align: center;
}
.aboutsection-second-details h1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: rgba(57, 57, 57, 0.872);
}
.aboutsection-second-details-way{
    display: flex;
    justify-content: space-around;
   padding-bottom: 8rem;
}
.make, .meet, .marry{
    padding-top: 1.5rem;
    flex-basis: 30.33%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    color: rgba(57, 57, 57, 0.872);
}
.make h2, .meet h2, .marry h2{
    color:  #ed177e;
}
.make img, .meet img{
    width:100%;
    border-radius: 10px;
}

.marry img{
    width: 100%;
    height: 11.5rem;
    object-fit: cover;
    border-radius: 10px;
    object-position: top;
}
.aboutsection-third-details {
    text-align: center;
    padding: 0 11rem 8rem;
    color: rgba(57, 57, 57, 0.872);
}
.aboutsection-third-details h1{
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.aboutsection-third-details h2 strong{
   color: #ed177e;
   font-weight: 500;
}
.aboutsection-third-details h2{
    font-size: 1.2em;
    line-height: 1.6rem;
    font-family: 'Signika', sans-serif;
    padding-bottom: 1.5rem;
}
.aboutsection-third-details button{
    padding: 5px 15px;
    border-radius: 5px;
    color: rgba(57, 57, 57, 0.872);
}
.aboutsection-third-details button:hover{
  background-color: white;
}


