.filter{
    width: 45vh;
   
    background-color: rgba(255, 255, 255, 0.712);
    border-radius:7px;
    }
   .refine-text{
    border-radius: 7px 7px 0 0;
        background-image: linear-gradient(140deg, #ec1c24, #ff1f70, #ed177e, #662d91);
    }
    .refine-text h6{
        text-align: center;
        font-size: 20px;
        color: white;
        opacity: .9;
        margin-top: 2px;
    }
       .accordion-item1 {
        font-size: 13px;
        padding: 0 10px;
        position: relative;
      }
     .accordion-item1 h2 button {
        width: 100%;
        border-radius: 7px !important;
        border: none;
        color: #ed177e !important;
        box-shadow: none !important;
        background: #e6e6e6;
        font-size: 15px;
        height: 2.4rem;
      }
      .accordion-button1::after {
        content: "+";
        font-size: 22px;
        color: #ed177e;
        position: absolute;
        right: 2rem;
        top: 13px;
        opacity: .8;
      }
     .accordion-body1  {
        margin-left: 1rem;
        color: rgba(0, 0, 0, 0.618);
      }
      .accordion-header1{
        margin-bottom: 0;
      }
      .form-check-input:checked {
        background-color:#ed177e;
        border-color: #ed177e;
    }
    .form-check-input:focus {
      border: none;
      /* border-color: #ed177e; */
      outline: 0;
      box-shadow: none;
      /* box-shadow: 0 0 0 0.23rem #ed177e3d; */
  }