.profiles{
    background-color: rgba(191, 191, 191, 0.361);
}
.profile-right-title{
    /* background-color: rgb(247, 247, 247); */
    width: 95%;
    height: 3rem;
    border-radius: 10px;
    /* background-image: linear-gradient(140deg, #ec1c24, #ff1f70, #ed177e, #662d91); */
    margin-bottom: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.profile-details{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    line-height: 1px;
}
.profile-details .p1{
    padding: 10px 20px;
    height: 2.2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    
}
.profile-details p{
    margin-top: 8px;
   font-size: 16px;
   opacity: .9;
}
.profile-details p:last-child{
font-size: 14px;
opacity: 0.9;
}
.profile-right-title h1{
    width:30%;
    margin-top: .6rem;
    margin-left:0.7rem;
    font-size: 15px;
    text-transform: uppercase;
    opacity: .7;
}
.profile-section{
    margin-top: 20px;
    display: flex;
}
.profile-right{
    width:100%;  
    height: 90vh;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
   
}
.profile-right::-webkit-scrollbar {
    display: none;
}
