* {
  margin: 0;
}
.cards {
  margin: 12px;
  background-color:#F99B7D;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contents {
  display: flex;
  line-height: 22px;
}
.content {
  display: grid;
  padding-left: 10px;
}
.btns{
  display: flex;
align-items: center;
padding: 2px;
}
.btns>button{
  flex-grow: 1;
  margin: 2px;
}
.info {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;

}

.info > div > p {
  font-size: 15px;
  padding: 5px;
}
